{% extends 'Frontend/FrontendLayout.twig' %}

{% expect 'App\\UI\\Frontend\\Pages\\SecurityLogin' as MODEL %}


{% block HEAD_TITLE %}{{ 'login.title'|trans }}{{ parent() }}{% endblock %}


{% block PAGE_CONTENT %}
    <div class="container-fluid pb-5">
        <div class="row justify-content-md-center">
            <div class="card-wrapper col-12 col-md-4 mt-5">
                
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'login.title'|trans }}</h4>
                        
                        <form action="{{ path('frontend_security_login') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            
                            <div class="form-group">
                                <label for="email">{{ 'login.email'|trans }}</label>
                                <input id="email" type="text" class="form-control" name="username" required="" autofocus="" value="{{ MODEL.LastUsername }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="password">{{ 'login.password'|trans }}</label>
                                <input id="password" type="password" class="form-control" name="password" required="">
                                {# <div class="text-right">
                                    <a href="password-reset.html" class="small">{{ 'login.password_forgotten'|trans }}</a>
                                </div> #}
                            </div>

                            {# <div class="form-group">
                                <div class="form-check position-relative mb-2">
                                    <input type="checkbox" class="form-check-input d-none" id="remember" name="remember">
                                    <label class="checkbox checkbox-xxs form-check-label ml-1" for="remember" data-icon="&#xe936">Remember Me</label>
                                </div>
                            </div> #}

                            <div class="form-group no-margin">
                                <input type="submit" class="btn btn-primary btn-block" value="{{ 'login.sign_in'|trans }}" />
                            </div>
                            <div class="text-center mt-3 small">
                                {{ 'login.no_account'|trans }} <a href="{{ path('frontend_security_register') }}">{{ 'login.sign_up'|trans }}</a>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
