{% extends 'Backend/Views/BackendLayout.twig' %}
{% expect 'App\\UI\\Backend\\Views\\Pages\\AccountList' as MODEL %}


{% block PAGE_TITLE %}Accounts{% endblock %}

{% block PAGE_H1 %}Accounts <small>List of users</small>{% endblock %}


{% block PAGE_CONTENT %}
    <section>
        <h1>Accounts</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 30px">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for id, account in MODEL.Accounts %}
                <tr>
                    <td>{{ id }}</td>
                    <td class="table--text-main">{{ account.Forename.toString ~ ' ' ~ account.Lastname.toString }}</td>
                    <td class="">{{ account.Email.toString }}</td>
                    <td class="">{{ account.Id }}</td>
                    <td><a href="{{ path('backend_account_show', { accountId:account.Id }) }}">Edit</a></td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No result</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
{% endblock %}
