{% extends 'Backend/Views/BackendLayout.twig' %}

{% expect 'App\\UI\\Backend\\Views\\Pages\\AccountShow' as MODEL %}


{% block PAGE_TITLE %}Account - {{ MODEL.Account.Forename.toString ~ ' ' ~ MODEL.Account.Lastname.toString }}{% endblock %}

{% block PAGE_H1 %}{{ MODEL.Account.Forename.toString ~ ' ' ~ MODEL.Account.Lastname.toString }}<span>Account details</span>{% endblock %}


{% block PAGE_CONTENT %}

    <h1>{{ MODEL.Account.Forename.toString ~ ' ' ~ MODEL.Account.Lastname.toString }}<small class="text-base font-normal italic pl-4">Account details</small></h1>

    {{ form_start(MODEL.AccountEditForm, {attr:{class:'form', novalidate:'novalidate'}}) }}
{#    <form class="form" action="{{ path('frontend_security_login') }}" method="post" novalidate="novalidate">#}

        <div class="form-col">
            <h2>{{ 'entities.account.lastname.label'|trans }}</h2>
{#            <input type="text" name="lastname" required="" autofocus="" value="{{ MODEL.Account.Lastname.toString }}" placeholder="Doe">#}
            {{ form_widget(MODEL.AccountEditForm.lastname, {attr:{placeholder:'Doe'}}) }}
            {{ form_errors(MODEL.AccountEditForm.lastname) }}
            
            <h3>{{ 'entities.account.forename.label'|trans }}</h3>
{#            <input type="text" name="forename" required="" autofocus="" value="{{ MODEL.Account.Forename.toString }}" placeholder="John">#}
            {{ form_widget(MODEL.AccountEditForm.forename, {attr:{placeholder:'John'}}) }}
            {{ form_errors(MODEL.AccountEditForm.forename) }}
        
            <h2>{{ 'entities.account.email.label'|trans }}</h2>
{#            <input type="email" name="email" required="" autofocus="" value="{{ MODEL.Account.Email.toString }}" placeholder="example@foo.com">#}
            {{ form_widget(MODEL.AccountEditForm.email, {attr:{placeholder:'example@foo.com'}}) }}
            {{ form_errors(MODEL.AccountEditForm.email) }}
        </div>


        <div class="form-row">
            <input type="submit" value="{{ 'form.buttons.modify'|trans }}" />
        </div>

{#    </form>#}
    {{ form_end(MODEL.AccountEditForm) }}
    
    
    
{#    <div class="box box-solid">#}
{#        <div class="box-body">#}
{#            {{ form_start(MODEL.formAccountEdit, {'attr': {'novalidate': 'novalidate'}}) }}#}
{#            {{ form_widget(MODEL.formAccountEdit) }}#}
{#            {{ form_end(MODEL.formAccountEdit) }}#}
{#            #}
{#            #}
{#        </div>#}
{#    </div>#}
{% endblock %}
