{% extends 'Backend/Views/BackendLayout.twig' %}
{% expect 'App\\Application\\Backend\\Views\\Pages\\AccountShow' as MODEL %}


{% block PAGE_TITLE %}Account - {{ MODEL.Account.Forename ~ ' ' ~ MODEL.Account.Lastname }}{% endblock %}

{% block PAGE_H1 %}{{ MODEL.Account.Forename ~ ' ' ~ MODEL.Account.Lastname }}<span>Account details</span>{% endblock %}


{% block PAGE_CONTENT %}

    <h1>{{ MODEL.Account.Forename ~ ' ' ~ MODEL.Account.Lastname }}<small class="text-base font-normal italic pl-4">Account details</small></h1>

    {{ form_start(MODEL.AccountEditForm, {attr:{class:'form', novalidate:'novalidate'}}) }}
{#    <form class="form" action="{{ path('frontend_security_login') }}" method="post" novalidate="novalidate">#}

        <div class="form-col">
            <div class="flex justify-between space-x-8">
                {{ form_row(MODEL.AccountEditForm.forename, { attr:{placeholder:'John'}, row_attr:{class:'flex-grow'} }) }}
                {{ form_row(MODEL.AccountEditForm.lastname, { attr:{placeholder:'Doe'}, row_attr:{class:'flex-grow'} }) }}
            </div>
            {{ form_row(MODEL.AccountEditForm.email, { attr:{placeholder:'example@foo.com'} }) }}
        </div>


        <div class="form-row">
            <input type="submit" value="{{ 'form.buttons.modify'|trans }}" />
        </div>

{#    </form>#}
    {{ form_end(MODEL.AccountEditForm) }}
    
    
    
{#    <div class="box box-solid">#}
{#        <div class="box-body">#}
{#            {{ form_start(MODEL.formAccountEdit, {'attr': {'novalidate': 'novalidate'}}) }}#}
{#            {{ form_widget(MODEL.formAccountEdit) }}#}
{#            {{ form_end(MODEL.formAccountEdit) }}#}
{#            #}
{#            #}
{#        </div>#}
{#    </div>#}
{% endblock %}
