{% expect 'App\\UI\\Shared\\Views\\Components\\Generic\\MenuItem' as ITEM %}

{% apply spaceless %}
    {% if ITEM.header %}
    <li class="header">
        {% if ITEM.fa or PARENT is defined %}<i class="fa {{ ITEM.fa|default('') }}"></i>&nbsp;{% endif %}
        <span>{{ ITEM.header }}</span>
    </li>
    {% else %}
        {% set isActive = ITEM.href and (is_current_path(ITEM.href) or (ITEM.hasItems and is_current_path_or_child(ITEM.href))) %}
        <li class="{% if ITEM.hasItems %}hasItems{% endif %}{% if isActive %} active{% endif %} {{ ITEM.AttrClass }}">
            {% if ITEM.href %}
                <a class="nav-link" href="{{ ITEM.href }}">
                    {% if ITEM.fa %}<i class="fa {{ ITEM.fa|default('') }}"></i>{% endif %}
                    {{ ITEM.label|raw }}
                    {% if ITEM.hasItems and ITEM.SubmenuIndicatorHtml %}{{ ITEM.SubmenuIndicatorHtml|raw }}{% endif %}
                    {% if ITEM.badges is not empty %}
                        <span class="pull-right-container">
                            {% for badge in ITEM.badges %}
                                {% include('Shared/Views/Components/Generic/Badge.twig') with {BADGE: badge} only %}
                            {% endfor %}
                        </span>
                    {% endif %}
                </a>
            {% else %}
                <span>
                    {{ ITEM.label|raw }}
                    {% if ITEM.hasItems and ITEM.SubmenuIndicatorHtml %}{{ ITEM.SubmenuIndicatorHtml|raw }}{% endif %}
                </span>
            {% endif %}
            
            {% if ITEM.hasItems %}
                <ul class="{{ ITEM.SubmenuAttrClass }}">
                    {% for subItem in ITEM.items %}
                        {% include('Shared/Views/Components/Generic/MenuItem.twig') with {ITEM: subItem, PARENT:ITEM} only %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endapply %}
