{% expect 'App\\UI\\Shared\\Views\\Components\\Generic\\NavItem' as ITEM %}

{% apply spaceless %}
    {% if ITEM.header %}
        <div class="nav__title uppercase text-gray-300">
            <span>{{ ITEM.header }}</span>
        </div>
    {% else %}
        {% set isActive = ITEM.href and (is_current_path(ITEM.href) or (ITEM.hasItems and is_current_path_or_child(ITEM.href))) %}
        <div class="nav__item{% if ITEM.hasItems %} nav__item--with-submenu{% endif %}{% if isActive %} nav__item--active{% endif %} {{ ITEM.AttrClass }}">
            {% if ITEM.href %}<a class="flex space-x-2" href="{{ ITEM.href }}">{% else %}<span class="flex items-center space-x-2">{% endif %}
                <span class="flex flex-grow items-center space-x-2 whitespace-nowrap">{{ ITEM.label|raw }}</span>
                {% if ITEM.badges is not empty %}
                <div class="nav__badges">
                    {% for badge in ITEM.badges %}<div class="nav__badge {{ badge.AttrClass }}" {% if badge.Title %}title="{{ badge.Title }}"{% endif %}>{{ badge.Label }}</div>{% endfor %}
                </div>
                {% endif %}
            {% if ITEM.href %}</a>{% else %}</span>{% endif %}
            
            {% if ITEM.hasItems %}
                <div class="nav__submenu {{ ITEM.SubmenuAttrClass }}">
                    {% for subItem in ITEM.items %}
                        {% include('Shared/Views/Components/Generic/NavItem.twig') with {ITEM: subItem, PARENT:ITEM} only %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endapply %}
