{% expect 'App\\UI\\Shared\\Views\\Components\\Generic\\NavItem' as ITEM %}

{% apply spaceless %}
    {% if ITEM.header %}
        <div class="nav__title uppercase text-gray-300">
            {% if ITEM.fa or PARENT is defined %}<i class="fa {{ ITEM.fa|default('') }}"></i>&nbsp;{% endif %}
            <span>{{ ITEM.header }}</span>
        </div>
    {% else %}
        {% set isActive = ITEM.href and (is_current_path(ITEM.href) or (ITEM.hasItems and is_current_path_or_child(ITEM.href))) %}
        <div class="nav__item{% if ITEM.hasItems %} nav__item--with-submenu{% endif %}{% if isActive %} nav__item--active{% endif %} {{ ITEM.AttrClass }}">
            {% if ITEM.href %}
                <a class="" href="{{ ITEM.href }}">
                    {{ ITEM.fa|default('')|raw }}
                    <div class="flex-grow">{{ ITEM.label|raw }}</div>
                    <div class="nav__badges">
                        {% for badge in ITEM.badges %}
                            <div class="nav__badge {{ badge.attrClass }}">{{ badge.label }}</div>
{#                            <span class="badge bg-red-500">1</span>#}
                        {% endfor %}
                    </div>
{#                    {% if ITEM.hasItems and ITEM.SubmenuIndicatorHtml %}{{ ITEM.SubmenuIndicatorHtml|raw }}{% endif %}#}
{#                    {% if ITEM.badges is not empty %}#}
{#                        <span class="pull-right-container">#}
{#                            {% for badge in ITEM.badges %}#}
{#                                {% include('Shared/Views/Components/Generic/Badge.twig') with {BADGE: badge} only %}#}
{#                            {% endfor %}#}
{#                        </span>#}
{#                    {% endif %}#}
                </a>
            {% else %}
                <span>
                    {{ ITEM.label|raw }}
{#                    {% if ITEM.hasItems and ITEM.SubmenuIndicatorHtml %}{{ ITEM.SubmenuIndicatorHtml|raw }}{% endif %}#}
                </span>
            {% endif %}
            
            {% if ITEM.hasItems %}
                <div class="nav__submenu {{ ITEM.SubmenuAttrClass }}">
                    {% for subItem in ITEM.items %}
                        {% include('Shared/Views/Components/Generic/NavItem.twig') with {ITEM: subItem, PARENT:ITEM} only %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endapply %}
